{% extends "base.html" %}

{% block title %}Технологии{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я умею:</h1>

    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Windows 10 Pro 21H1
        </li>
        <li class="list-group-item">
          Visual Studio Code 1.61.1
        </li>
        <li class="list-group-item">
          Python 3.9.6
        </li>
        <li class="list-group-item">
          Django 2.2.9
        </li>
        <li class="list-group-item">
          Вкусняшки к кофе :)
          <br>
          (тоже продукты, хоть и не программные!)
        </li>
      </ul>
    </aside>

    <article class="col-12 col-md-9">
      <p>
        Слева указаны программные продукты, которые мне помогли при создании
        этого сайта.
        <br><br>
        А ещё мне помогают желание и вера в то, что я стану классным Питонистом!
        <br>
        На уроках Практикума я узнал, что обладаю таким полезным навыком как
        "Самоходность", хотя я думал, что это обычная самостоятельность.
        Многие soft-скилы мне удалось получить за 15 лет на предыдущем
        месте работы, так что осталось всего ничего: подтянуть hard! :D
        <br><br>
        "Per aspera ad astra!"
      </p>
    </article>

  </div>
</div>
{% endblock %}
