{% extends 'base.html' %}

{% load thumbnail %}
{% load cache %}

{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления избранных авторов{% endblock %}


  {% block content %}
    <div class="container py-5">

      <h1>Последние обновления избранных авторов</h1>
      {% include 'posts/includes/switcher.html' %}
        {% cache 20 follow_page request.GET %}
          {% for post in page_obj %}
            {% include 'posts/includes/single_post.html' %}

            {% if post.group %}
              <a href="{% url 'posts:group_posts' slug=post.group.slug %}">
                Все записи группы
              </a>
            {% endif %}

            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        {% endcache %}
      {% include 'posts/includes/paginator.html' %}

    </div>
  {% endblock %}
