{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}
  Пост {{ post|truncatechars:31 }}
{% endblock %}

{% block content %}
{% load user_filters %}
<div class="container py-5">
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
          <li class="list-group-item">
            Группа:
            {% if post.group %} 
              {{ post.group }}<br>
              <a href="{% url 'posts:group_posts' slug=post.group.slug %}">
                Все записи группы
              </a>
            {% else %} Группа не указана
            {% endif %}
          </li>
          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span >{{ posts_count }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' username=post.author.username %}">
            Все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ post.text|linebreaksbr }}</p>

      {% if post.author.username == user.username %}
        <a href="{% url 'posts:post_edit' post_id=post.pk %}">
          Редактировать пост
        </a>
      {% endif %}

      {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Добавить комментарий:</h5>
          <div class="card-body">

            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group mb-2">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                  </label>
                  {{ field|addclass:"form-control" }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>

          </div>
        </div>
      {% endif %}

      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
            </h5>
              <p>
              {{ comment.text }}
              </p>
            </div>
          </div>
      {% endfor %}      

    </article>
  </div>
</div>
{% endblock %}
